<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!--Informações para conexão com banco de dados-->
  <databse>
    <!-- IP do servidor MySQL -->
    <servidor>diarioeletr.mysql.uhserver.com</servidor>
    <!-- Schemma do banco de dados -->
    <banco>diarioeletr</banco>
    <!-- Usuário de conexão -->
    <usuario>dbuserproj</usuario>
    <!-- Senha de conexão -->
    <senha>Univesp@01</senha>
  </databse>
</config>
